# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
env/
ENV/
.venv
backend/venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Node modules (si frontend React)
node_modules/
front/node_modules/

# Build
build/
dist/
*.egg-info/

# Logs
*.log
logs/

# Environment variables
.env
.env.local
.env.*.local

# OS
Thumbs.db

# Cache
.cache/
.pytest_cache/

# Temporary files
*.tmp
*.temp
t.txt

